:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

body {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal; 
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    font-weight: normal;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.asterisk {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.bold {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #111111;
    color: #FFFFFF;
    padding: 48px 45px 25px;
    align-content: center;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 34px;
    padding: 0;
    margin-top: 25px;
}

header nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.inner-container {
    max-width: 1040px;
    min-width: 640px;
}

.inner-container section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blue-grey-50);
    justify-content: center;
    padding: 64px 32px;
}

.inner-container section:first-of-type h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    font-weight: normal;
}

.inner-container section:first-of-type p {
    margin-top: 0;
    margin-bottom: 42px;
}

.inner-container section:first-of-type button {
    background-color: #111111;
    color: var(--blue-grey-100);
    border-radius: 6px;
    height: 56px;
    width: 103px;
    margin-bottom: 50px;
    text-align: center;
}

.inner-container section:first-of-type img {
    border-radius: 8px;
}

section:nth-of-type(2) {
    padding: 4rem 2rem;

}

section:nth-of-type(2) .asterisk {
    margin-bottom: 0;
}

section:nth-of-type(2) h3 {
    margin-top: 0;
}

section:nth-of-type(2) h2 {
    margin: 0.5rem 2rem 2rem;

}

section:nth-of-type(2) p:first-of-type {
    margin-bottom: 4rem;
}

section:nth-of-type(3) {
    background-color: #78909C;
    padding: 64px 80px;
    color: #FFFFFF;
}

section:nth-of-type(3) h2 {
    margin-bottom: 64px;
}

section:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--blue-grey-100);
    padding: 64px 32px;
    color: #000000;
}

section:nth-of-type(4) h2 {
    margin: 0.2rem 1.3rem 2rem;
}

section:nth-of-type(4) p {
    padding: 0 2rem;
    margin: 0 0 1rem;
}

section:nth-of-type(4) .architecture-card {
    text-align: left;
    margin-top: 2rem;
}

section:nth-of-type(4) ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding: 0 2.5rem;
    margin: 0;
}

section:nth-of-type(4) ul li {
    padding: 0;
    margin: 0;
}

section:nth-of-type(4) img {
    display: block;
    margin: 2.5rem auto;
}

section:nth-of-type(5) {
    background-color: var(--blue-grey-900);
    padding: 64px 32px;
}

section:nth-of-type(5) .subscriber-container {
    background-color: white;
    border-radius: 8px;
    padding: 64px 70px;
}

section:nth-of-type(5) button {
    height: 56px;
    width: 89px;
    border-radius: 6px;
    background-color: #111111;
    text-align: center;
    color: #EDEDED;
    margin-top: 1.2rem;
}


footer {
    background-color: #191919;
    color: #FFFFFF;
    padding: 64px 32px;
    text-align: center;
}

footer .brand {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 0;
    padding: 0;
}

footer h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 3.5rem;
    font-weight: bold;
}

footer p {
    font-family: 'Inter', sans-serif;
    color: var(--blue-grey-200);
    font-size: 0.75em;
    font-weight: normal;
    padding: 0 34px;
}

footer p:first-of-type {
    text-align: left;
    font-size: 0.75rem;
    margin: 0;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .footer-navigation .footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .footer-navigation .footer-links a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    text-align: left;
    justify-content: left;
    margin: 0 0 0.7rem 0;
}

footer .footer-links a:hover {
    color: #e0e0e0;
}

footer .footer-navigation {
    justify-content: center;
    gap: 3rem;
    margin: 3rem auto;
}

footer .footer-navigation .footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


/**Media Query for medium-sized screens*/
@media screen and (min-width:640px) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        justify-content: flex-start;
    }

    header nav {
        justify-content: flex-end;
    }

    header ul {
        margin-top: 0;
        gap: 3rem;
    }

    section:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0 1rem;
        justify-items: center;
    }
    
    .services:first-of-type {
        width: 100%;
        height: 320px;
    }

    section:nth-of-type(2) .services:not(:first-of-type) {
        width: calc((100% - 4rem) / 2);
        margin: 0;
        padding: 0;
        height: 230px;
    }

    section:nth-of-type(4) .architecture-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }
    
    section:nth-of-type(4) .architecture-card .architecture-elements img {
        width: 640px;
        height: 240px;
        object-fit: cover;
        display: block;
        border-radius: 8px;
     }

    section:nth-of-type(4) .architecture-elements {
        width: calc((100% - 1rem) / 2);
        padding: 0;
    }

    section:nth-of-type(4) .architecture-card:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    section:nth-of-type(5) {
        padding: 64px 153px;
    }

    footer .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .footer-container .footer-elements {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }



}